$theme-transition-delay: .5s;

$themes: (
  default: (
    text-color: inherit,
    system-background-color: #fff,
    secondary-system-background-color: #f2f2f7,
    sidebar-background-color: #001529
  ),
  dark: (
    text-color: #fff,
    system-background-color: #000,
    secondary-system-background-color: #1c1c1d,
    sidebar-background-color: #1f1f1f
  ),
  pinktheme: (
    text-color: inherit,
    system-background-color: #fff,
    secondary-system-background-color: #f2f2f7,
    sidebar-background-color: pink
  )
);

@each $name, $theme in $themes {
  [data-theme="#{$name}"] {
    color: map-get($theme, 'text-color');
    background-color: map-get($theme, 'system-background-color');
  }
};

@mixin theme($styles) {
  [data-theme] & {
    transition: background-color #{$theme-transition-delay}, color #{$theme-transition-delay};
  }
  @each $name, $theme in $themes {
    [data-theme="#{$name}"] & {
      @each $name, $key in $styles {
        $value: map-get($theme, $key);
        @if $value {
          #{$name}: $value;
        } @else {
          // 如果使用的主题颜色名称不存在，抛出错误
          @warn "引用了不存在的变量值: " + $name + '=' + $key;
        }
      }
    }
  }
}
