/*
-------------- Layout */
$--layout-aside-width: 256px;
$--layout-aside-collapse-width: 64px;
$--layout-aside-background-color: #fff;
$--layout-background-color: #fff;
$--layout-main-background-color: #edf1f7;
$--layout-navbar-background-color: #fff;
$--layout-navbar-height: 50px;
