@import "el-var.scss";

/*
-------------- Layout */
$--layout-aside-width: 256px;
$--layout-aside-collapse-width: 64px;
$--layout-aside-background-color: #001529;
$--layout-aside-text-color: #b8c7ce;
$--layout-aside-active-background-color: $--color-primary;
$--layout-aside-active-text-color: #fff;
$--layout-background-color: #fff;
$--layout-main-background-color: #edf1f7;
$--layout-navbar-background-color: #fff;
$--layout-navbar-height: 64px;
$--layout-logo-height: 64px;
