<style>
    .bui-fluid-space-3 .span1{ height: 2rem; overflow: hidden; margin-bottom: .2rem; }
</style>
<div class="bui-page">
    <header class="bui-bar">
        <div class="bui-bar-left">
            <a class="bui-btn" onclick="bui.back();"><i class="icon-back"></i></a>
        </div>
        <div class="bui-bar-main">页面标题</div>
        <div class="bui-bar-right">
            <!-- 右边按钮 -->
        </div>
    </header>
    <main class="container-xy">
        <!-- 正文内容 -->

        <ul class="bui-fluid-space-3">
            <li class="span1">
                <img src="images/avatar1.jpeg">
            </li>
            <li class="span1">
                <img src="images/avatar2.jpeg">
            </li>
            <li class="span1">
                <img src="images/avatar3.jpeg">
            </li>
            <li class="span1">
                <img src="images/avatar4.jpeg">
            </li>
            <li class="span1">
                <img src="images/avatar5.jpeg">
            </li>
            <li class="span1">
                <img src="images/avatar6.jpeg">
            </li>
        </ul>

    </main>
    <footer>
        <!-- 底部内容 -->
    </footer>
</div>