@import "@/style/var.scss";

.xp-login {

  &__submit {
    display: block;
    margin-top: 18px;
    width: 100%;
  }

  .el-form {
    &-item {
      margin-bottom: 20px;
      &__label {
        margin-bottom: 10px;
      }
    }
  }

  &__brand {
    padding: 10px 0;
    margin-bottom: 15px;
    font-size: 28px;
    font-weight: 600;
    color: $--color-primary;
  }

}