@import "../var.scss";

html, body, #app {
  height: 100%;
  margin: 0;
}

.layout {
  height: 100%;
  position: relative;

  &__aside {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: $--layout-aside-width;
    overflow-x: hidden;
    background-color: $--layout-aside-background-color;
    transition: width .3s;
    // border-right: 1px solid #eee;
    box-shadow: 0 2px 1px 0 rgba(44, 51, 73, .1);
    .layout--collapse & {
      width: $--layout-aside-collapse-width;
    }
    .el-menu {
      border: none;
      &-item, .el-submenu__title {
        i {
          font-size: 18px;
          margin-right: 5px;
        }
      }
    }
  }
  &__main {
    display: inline-block;
    height: 160%;
    position: relative;
    width: calc(100% - #{$--layout-aside-width});
    margin-left: $--layout-aside-width;
    background-color: $--layout-main-background-color;
    transition: margin-left .3s, width .3s;
    .layout--collapse & {
      width: calc(100% - #{$--layout-aside-collapse-width});
      margin-left: $--layout-aside-collapse-width;
    }
  }

  &__navbar {
    height: $--layout-navbar-height;
    line-height: $--layout-navbar-height;
    background-color: $--layout-navbar-background-color;
    box-shadow: 0 1px 2px 0 rgba(44, 51, 73, .1);
    transition: left .3s;
    &:after {
      content: "";
      display: table;
      visibility: hidden;
      position: absolute;
      width: 0;
      height: 0;
      clear: both;
    }

    .layout--fixed & {
      position: fixed;
      left: $--layout-aside-width;
      right: 0;
      top: 0;
    }

    .layout--collapse & {
      left: $--layout-aside-collapse-width;
    }

    // 左侧折叠按钮
    &__toggle {
      float: left;
      padding: 0 15px;
      font-size: 20px;
    }
    // 右侧菜单
    &__menu {
      float: right;
      padding: 0 10px;
      &-item {
        padding: 0 15px;
        cursor: pointer;
        &:hover {
          background-color: #eee;
        }
      }
    }
  }
  // 内容区域
  &__content {
    margin-top: 50px;
    min-height: 100%;
  }
  // 设置
  &__setting {
    position: fixed;
    z-index: 2;
    right: 0;
    top: 35%;
  }


}
